@model MVC.Models.Entities.Material_message

@{
    ViewData["Title"] = "物资详情";
}

<h2>详情</h2>

<div>
    <h4>物资种类</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaterialName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaterialName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MID">编辑</a> |
    <a asp-action="Categories">物资种类列表</a>
</div>
