@using Microsoft.AspNetCore.Identity
@using MVC.Models.Entities

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<ul class="nav navbar-nav">
    <li><a asp-area="" asp-controller="Games" asp-action="Index">Games</a></li>
    @if (UserManager.GetUserName(User) == "Administrator1987")
    {
        <li><a asp-area="" asp-controller="Games" asp-action="Index">仓库物资信息</a></li>
        <li><a asp-area="" asp-controller="Games" asp-action="Index">批准采购</a></li>
        <li><a asp-area="" asp-controller="ModifyInformation" asp-action="Index">修改采购员信息</a></li>
        <li><a asp-area="" asp-controller="Supplier_message" asp-action="Index">修改合格供方信息</a></li>
        <li><a asp-area="" asp-controller="Games" asp-action="Index">修改供方物资信息</a></li>
        <li><a asp-area="" asp-controller="ChangePassword" asp-action="Index">采购员账户修改</a></li>
    }
    else
    {
        <li><a asp-area="" asp-controller="Games" asp-action="Index">申请采购</a></li>
    }

</ul>

    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">   
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}
